@font-face { 
    font-family: "comic"; 
    src: url("fonts/comic.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face { 
    font-family: "comicbd"; 
    src: url("fonts/comicbd.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}  

body{
    background: #E0FFB2;
    margin: 0;
    padding: 0;
    font-family: comic;
    color: #FCFF9E;
}

.header{
    margin-top: -80px;
    position: fixed;
    z-index: 100;
    width: 100%;
    background: #9DC643;
    min-height: 80px;
    box-shadow: inset 0px 0px 50% rgb(89, 153, 30),
                inset 0px 0px -50% rgb(89, 153, 30)  
}

.position{
    margin: auto;
    padding: 0.5%;
    max-width: 980px;
}

button{
    border: 0px;
    outline: none;
    color: #FCFF9E;
    font-family: comicbd;
    font-size: 14pt;
    text-align: center;
}

.icone{
    background: #9DC643;
    height: 65px;
    float: left;
}

.login{
    background: url("images/button.png");
    height: 40px;
    width: 226px;
    background-size: cover;
    float: right;
    margin-top: 14px;
}

.name{
    margin-top: 80px;
    width: 100%;
    background: url(images/head.png) no-repeat top center;
    background-size: cover;
}

.name-responsive{
    width: 50%;
    height: auto;
}

.content{
    margin: auto;
    color: #307006;
    text-align: center;
    max-width: 1000px;
}

.filter{
    width: 90%;
    margin: auto;
    text-align:justify;
    font-size: 15pt;
    padding: 20px;
}

.help-filter{
    width:100%; 
    background-color: white;
    border: 2px solid;
    border-bottom-color: rgb(174, 228, 124);
    border-top: 0px;
    border-right-color: rgb(193, 238, 144);
    border-left-color: rgb(193, 238, 144);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.flex{
   display: flex;
}

input{
    font-family: comicbd;
    font-size: 10pt;
    color: #307006;
    outline:none;
}

.in{
    border: 1px solid #9DC643;
    background: #E0FFB2;
    border-radius: 5px
}

.line{
    background: black;
    width: 100%;
    height: 15px;
    margin: 10px auto;
    
}

.post{
    margin-top: 15px;
    font-size: 14pt;
    text-align: left;
    padding: 20px;
    background-color: white;
    border: 2px solid;
    border-bottom-color: rgb(174, 228, 124);
    border-top-color: rgb(214, 249, 167);
    border-right-color: rgb(193, 238, 144);
    border-left-color: rgb(193, 238, 144);
    border-radius: 8px;
}

.photo{
    width:65%;
    border: 1px solid #C1C1C1;
    margin: 0 auto;
}

.box{
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.name_post{
    font-family: comicbd;
    text-align: left;
    font-size: 25pt;
    width: 90%;
}

.likes_settings{
    align-self: righrt; 
    float:right;
    margin-top: -32pt;
    background: white;
}

.add-post{
    margin-top: 15px;
    width: 100%;
    color: #307006;
    font-size: 18pt;
    background: white;
    border: 2px solid;
    border-top-color: rgb(214, 249, 167);
    border-right-color: rgb(193, 238, 144);
    border-left-color: rgb(193, 238, 144);
    border-bottom: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.footer{
    width: 100%;
    background: #9DC643;
    font-size: 10pt;
    text-align: center;
}